body{background:#F3F3F3;}
.container{ padding:0; }
.mycontainer{padding-top:88px;}
.header { border-bottom:1px solid #ddd; padding:15px 0; background:#fff; margin-bottom:10px; position:fixed; top:0px; width:100%; z-index:100; }
.header a { color:#707070; text-decoration:none; display:inline-block; width:25%; float:left; text-align:center; font-size:0.85em; }
.header a i { position:relative; padding-top:5px; }
.header a span { position:absolute; background:#E2010F; right:-5px; top:0px; border-radius:4px; -webkit-border-radius:5px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; border:2px solid #fff; height:10px; text-indent:-9999px; width:10px; }
.header .myocolor { color:#FF0042; }
.footer { position:fixed; bottom:0; text-align:center; display:block; width:100%; padding:10px 0; border-top:1px solid #ddd; background:#fff; }
.footer a { color:#f60; text-decoration:none; display:block; }
.mybtn1 { background:#FF0042; color:#fff; margin-left:10px; }
.mybtn1:hover{ color:#fff; }
.mya1 { margin-bottom:0; padding:0; margin-right:2%; }
h4.myfont1 { font-size:14px; display:inline-block; width:78%;}
p.myfont1 { font-size:12px; display:inline-block; width:78%; }
.wl{list-style:none; margin-top: 10px; padding:0px;}
.wl li{ padding-left:35px; background:url(../images/wu.jpg) no-repeat top left; padding-top:7px;}
.wl li:first-child{ color:#FF0042; }
.wl li p{ margin:0; padding:0 0 5px 0; }
.wl li p:nth-child(2){border-bottom:1px solid #ddd;}
.myleft{ float:left;word-wrap: break-word; width:68%;}
.myright{float:right;word-wrap: break-word;width:30%;}
.list-group-item{padding: 10px 10px;}
.pricesum{width: 40%;display: inline-block;word-wrap: break-word;}
.heji{text-align:right;}
.mymargin{ margin-left:10px; }
.sbtn{ text-align:right; }

